version: '3'
services:
  gitpulse-blue:
    image: gitpulse.jfrog.io/docker/gitpulse:latest
    ports:
      - "4005:4000"
    env_file:
      - .env
    restart: always

  gitpulse-green:
    image: gitpulse.jfrog.io/docker/gitpulse:latest
    ports:
      - "4006:4000"
    env_file:
      - .env
    restart: always

